<ul class="list-group">
    @foreach (var item in Segmentos)
    {
        <li class="list-group-item d-flex flex-row my-1 align-items-end">
            <h5 class="w-25 "> @item.Nome</h5>
            <h5 class="w-50 ">@item.Descricao</h5>
            <div class="w-25 d-flex flex-row justify-content-evenly">
                <a href="/Segmento/@item.Id"><i class="fa-regular fa-eye"></i></a>
                <a href="/AtualizarSegmento/@item.Id"><i class="fa-solid fa-pencil"></i></a>
                <a href="" @onclick="() => OpenModal(item.Id)"><i class="fa-solid fa-trash"></i></a>
            </div>
        </li>
    }
</ul>
<ModalDelete @ref="modal" Id="@deleteid" type="segmento"></ModalDelete>

@code {
    [Parameter]
    public IEnumerable<SegmentoDTO>? Segmentos { get; set; }

    public string? deleteid { get; set; }
    private ModalDelete modal { get; set; }

    private void OpenModal(string selected)
    {
        deleteid = selected;
        modal.Open();
    }
}